<div class="map-wrapper">
  <div id="cesiumContainer"></div>

  <div class="search-panel">
    <div class="search-panel-content">
      <p-autoComplete [(ngModel)]="searchQuery" [suggestions]="suggestions" (completeMethod)="search($event)"
        (onSelect)="selectSearchResult($event)" field="name" placeholder="Search" [style]="{ width: '100%' }"
        [inputStyle]="{ width: '100%' }">
        <ng-template let-result pTemplate="item">
          <div class="search-result-item-prime">
            <svg cIcon [name]="result.icon" size="lg"></svg>
            <div>
              <b>{{ result.name }}</b>
              <div class="type">{{ result.typeLabel }}</div>
            </div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
  </div>


  <div class="layer-control-panel" [class.collapsed]="panelCollapsed">
    <div class="panel-header" (click)="togglePanel()">
      <h3 class="panel-title">

        <span>Layer Control</span>
      </h3>
      <button class="toggle-button">
        {{ panelCollapsed ? '+' : '−' }}
      </button>
    </div>

    <div class="panel-content" *ngIf="!panelCollapsed">
      <div class="layer-controls">
        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.openStreetMap" (change)="toggleOpenStreetMap()"
              class="layer-checkbox" />
            <span class="layer-name">

              Open Street Map
            </span>
          </label>
        </div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.googleSatellite" (change)="toggleGoogleSatellite()"
              class="layer-checkbox" />
            <span class="layer-name">

              Google Satellite
            </span>
          </label>
        </div>

        <div class="divider"></div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.provinceBoundaries" (change)="toggleProvinceBoundaries()"
              class="layer-checkbox" />
            <span class="layer-name">

              ขอบเขตจังหวัด
            </span>
          </label>
        </div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.districtBoundaries" (change)="toggleDistrictBoundaries()"
              class="layer-checkbox" />
            <span class="layer-name">

              ขอบเขตอำเภอ
            </span>
          </label>
        </div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.subDistrictBoundaries"
              (change)="toggleSubDistrictBoundaries()" class="layer-checkbox" />
            <span class="layer-name">

              ขอบเขตตำบล
            </span>
          </label>
        </div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.roads" (change)="toggleRoads()" class="layer-checkbox" />
            <span class="layer-name">

              ถนน
            </span>
          </label>
        </div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.waterways" (change)="toggleWaterways()"
              class="layer-checkbox" />
            <span class="layer-name">

              คลอง/ทางน้ำ
            </span>
          </label>
        </div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.pois" (change)="togglePOIs()" class="layer-checkbox" />
            <span class="layer-name">

              สถานที่ (POI)
            </span>
          </label>
        </div>

        <div class="layer-item">
          <label class="layer-label">
            <input type="checkbox" [(ngModel)]="layerControls.thailand" (change)="toggleThailand()"
              class="layer-checkbox" />
            <span class="layer-name">

              Open Street Map (Self)

            </span>
          </label>
        </div>

      </div>
    </div>
  </div>

  <c-modal [visible]="modalVisible" (visibleChange)="handleModalChange($event)" alignment="top" class="modal-top-right">
    <c-modal-header>
      <h5 cModalTitle>{{
        selectedFeature?.properties?.['PROV_NAMT'] ||
        selectedFeature?.properties?.['AMP_NAME_T'] ||
        selectedFeature?.properties?.['T_NAME_T'] ||
        selectedFeature?.properties?.['P_NAME_T'] ||
        selectedFeature?.properties?.['PROV_NAME'] ||
        selectedFeature?.properties?.['NAME'] ||
        selectedFeature?.name ||
        'รายละเอียด'
        }}</h5>
      <button (click)="handleModalChange(false)" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>
      <table cTable hover>
        <tbody>
          <tr *ngFor="let item of getDisplayItems()">
            <td class="font-weight-bold" style="width: 40%">{{ item.label }}</td>
            <td>{{ item.value }}</td>
          </tr>
        </tbody>
      </table>
    </c-modal-body>
  </c-modal>


</div>